swagger: "2.0"
info:
  title: Blog API
  description: "API to fetch blog posts and their content."
  version: "1.0.0"
host: posts-3jlqmun7s4y42.apigateway.prod-service-1-447317.cloud.goog
x-google-endpoints:
- name: posts-3jlqmun7s4y42.apigateway.prod-service-1-447317.cloud.goog
  allowCors: true
schemes:
  - "https"
paths:
  /posts:
    get:
      description: "Fetch all blog posts."
      operationId: "fetchPosts"
      security:
        - api_key: []
      responses:
        200:
          description: "A list of all blog posts."
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                  example: 1
                title:
                  type: string
                  example: "EKS Security Best Practices"
                description:
                  type: string
                  example: "Amazon Elastic Kubernetes Service (EKS) is a powerful platform..."
        400:
          description: "Bad Request. Unable to fetch posts."

  /posts/{id}:
    get:
      description: "Fetch a specific blog post by its ID."
      operationId: "fetchPostById"
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          description: "The ID of the blog post to fetch."
      security:
        - api_key: []
      responses:
        200:
          description: "The blog post with the given ID."
          schema:
            type: object
            properties:
              id:
                type: integer
                example: 1
              title:
                type: string
                example: "EKS Security Best Practices"
              description:
                type: string
                example: "Amazon Elastic Kubernetes Service (EKS) is a powerful platform..."
              content:
                type: string
                example: "This is my test blog\n\nHello World!\ntest"
        404:
          description: "Blog post not found."
        400:
          description: "Invalid ID format."

x-google-backend:
  address: https://us-central1-prod-service-1-447317.cloudfunctions.net/blogpost-get

securityDefinitions:
  api_key:
    type: apiKey
    name: key
    in: query
